body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center; /
}

.texto,
.nome,
.cnpj,
.dados,
.tel,
.email,
.concluir {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 5px;
  border: 1px solid #784629;
}

button {
  padding: 10px 20px;
  background-color: #784629;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5c3422;
}
