body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo img {
  width: 150px;
}

.cnpj input,
.senha input {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #784629;
}

.login {
  margin-top: 20px;
  text-align: center;
}

.login button {
  padding: 10px 20px;
  background-color: #784629;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro {
  margin-top: 20px;
  text-align: center;
}

.cadastro a {
  color: #784629;
  text-decoration: none;
}

.cadastro a:hover {
  text-decoration: underline;
}
